<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather API</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="icon" type="image/x-icon" href="https://weatherstack.com/site_images/weatherstack_icon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.js"></script>
    <link
      href="https://api.tiles.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.css"
      rel="stylesheet"
    />

    <script
      defer
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    ></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script
      defer
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
    ></script>
    <style>
      #map {
        position: absolute;
        top: 0;
        bottom: 0;
      }
    </style>
  </head>

  <body>
    <section class="container-fluid">
      <div class="col-sm-12 col-md-6 col-lg-8" id="map"></div>
    </section>
 
 
  <section  class="main-content hidden" style="
    margin-bottom: -20%;
"> </section>

<section class="hidden">
    {{>header}} <br><br>
 
  
    <div class="main-content" id="weather"></div><div class="main-content" > <div id="spin" class="hidden">
        <div class="loader"></div>
        <p>loading</p>
      </div></div>
    
    
    <div class="main-content">
      <p style="margin-left: 48px;">Use this website to get your weather information</p> 
      <form action="/">
        <input id='input' class="input" type="text" placeholder="Enter Location">
        <button id="submit" type="submit" class="button" style="vertical-align:middle">Get Weather</button>
      </form>    
    </div>
   
  
</section>
  </body>
  {{>footer}}
</html>