<header><div
    style="
    padding-top: 20px;
    max-width: 300px;
  margin: auto;
"
  >
    <a href="/">Home</a>
    <a href="/about">About Page</a>
    <a href="/help">Help Page</a>
  </div>
  <h1>{{title}}</h1><hr /></header>